/* A neutral palette that ignores the GTK theme. */

window {
    --bg: #222226;
    --fg: #ffffff;
    --accent: #3584e4;
    --urgent: #cd9309;
    --danger: #ff7b63;

    --accent-fg: #ffffff;
    --accent-text: #78aeed;
    --urgent-fg: rgba(0, 0, 0, 0.8);
}
